.env
.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/debugbar
storage/pail
storage/coverage
bootstrap/cache/*.php
public/hot
public/build
*.log
docker-compose.override.yml
